*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: auto;
}
.header{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;

}
.header-row{
    display: flex;

}
.logo{
flex-basis: 50%;
}
.menu{
flex-basis: 50%;
text-align: right;
}
.logo img{
    width: 140px;
    height: auto;
}
.menu ul li{
    display: inline-block;
    margin-right: 16px;


}
.menu ul li a{
    font-size: 18px;
    color: rgb(161, 148, 236);

}
.menu ul li a:hover{
    color: tomato;
}
.headline{
    width: 100%;
    background-color: #fff;
    padding: 30px 0px;

}
.headline-1{
    text-align: center;
}
.headline-1 h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 60px;
    color: rgb(29, 25, 25);
}
.headline-1 span{
    color: rgb(161, 148, 236);
}
.headline-1 p{
    font-size: 16px;
    color: rgb(194, 188, 188);
    line-height: 1.5;
}
.banner{
    width: 100%;
    background-color: #fff;
    padding: 20px 0px;
}
.b-img{
    text-align: center;
}
.projec{
    width: 100%;
    background-color: #fff;
    padding: 20px 0px;

}
.project-row{
    display: flex;
   
}
.p1{
    flex-basis: 50%;
    margin: 20px;
}
.p2{
    flex-basis: 50%;
    margin: 20px;}

.p1 h2{
    font-size: 40px;
    text-align: right;
    color: rgb(162, 207, 79);
}
.p1 p{
    text-align: right;
    font-size:16px;
}
.p2 h1{
    font-size: 50px;
    color: rgb(64, 13, 75);
    line-height: 63px;
}
.gallery{
    width: 100%;
    background-color: #fff;
}
.gallery-row{
    display: grid;
    grid-template-columns: auto auto auto;
   
}
.g1{
    background-color: #fafa;
    margin: 16px;
    border-radius: 5px;
    padding:31px;
}
.g1 h5{
    font-size: 18px;

}
.g1 p{
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.5;
}
.footer{
    width: 100%;
    background-color: rgb(209, 80, 166);
}
.ft{
    text-align: center;
    color: rgb(241, 211, 211);
    height: 35px;
    line-height: 35px;
}
}
.ft strong{
    color: #fff;
text-transform: inherit;   
}